[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "vim/bundle/vim-jsx"]
	path = vim/bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "vim/bundle/vim-session"]
	path = vim/bundle/vim-session
	url = https://github.com/xolox/vim-session
[submodule "vim/bundle/vim-buffergator"]
	path = vim/bundle/vim-buffergator
	url = https://github.com/jeetsukumaran/vim-buffergator
[submodule "vim/bundle/vim-easymotion"]
	path = vim/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion
[submodule "vim/bundle/vim-gitgutter"]
	path = vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim/bundle/vim-misc"]
	path = vim/bundle/vim-misc
	url = https://github.com/xolox/vim-misc
[submodule "vim/bundle/vim-sensible"]
	path = vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/bundle/vim-project"]
	path = vim/bundle/vim-project
	url = https://github.com/amiorin/vim-project
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script
[submodule "vim/bundle/vim-git-log"]
	path = vim/bundle/vim-git-log
	url = https://github.com/kablamo/vim-git-log
[submodule "vim/bundle/vim-scala"]
	path = vim/bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala
